{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<!-- Error Alerts -->
{% if category == 'error' %}
<div class="alert alert-danger" role="alert"><strong>{{ message }}</strong></div>
{% endif %}

<!-- Warning Alerts -->
{% if category == 'warning' %}
<div class="alert alert-warning" role="alert"><strong>{{ message }}</strong></div>
{% endif %}

<!-- Success Alerts -->
{% if category == 'success' %}
<div class="alert alert-success" role="alert"><strong>{{ message }}</strong></div>
{% endif %}

<!-- Info Alerts -->
{% if category == 'info' %}
<div class="alert alert-info" role="alert"><strong>{{ message }}</strong></div>
{% endif %}

{% endfor %}
{% endif %}
{% endwith %}