{% block doc -%}
<! DOCTYPE html>
<html {% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
<head>
    {%- block head %}
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    {%- endblock styles %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="static/ico/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/ico/favicon.ico" type="image/x-icon">
    <!-- /Favicon -->
    {%- endblock head %}
</head>
<body {% block body_attribs %}{% endblock body_attribs %}>
{% block body -%}
{% block navbar %}

{% if current_user.is_authenticated %}
<nav class="navbar navbar-default">
    <div class="container">
        <a class="btn btn-default navbar-btn" href="{{ url_for('main.home') }}">Home</a>

        <div class="navbar-right">
            <p class="navbar-text">
                {{current_user.email}}
            </p>

            <a class="btn btn-default navbar-btn" href="{{ url_for('auth.logout') }}">Sign Out</a>
        </div>
    </div>
</nav>
{% endif %}

{%- endblock navbar %}
{% block content -%}
{%- endblock content %}

{% block scripts %}
<script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
<script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
{%- endblock scripts %}
{%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}