{% extends 'layouts/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Welcome to edEMO!</h1>
</div>
<p class="lead">This is a test page.</p>
<p class="lead">Available Pages List</p>
<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/profile">View Profile</a></li>
    <li><a href="/user/register">Register User</a></li>
    <li><a href="/survey/group/add">Create Survey Group</a></li>
    <li><a href="/survey/group/list">List Survey Group</a></li>
    <li><a href="/survey/group/1/member/add">Add Survey Group Members</a></li>
    <li><a href="/survey/group/1/member/list">Survey Group Members List</a></li>
    <li><a href="/survey/add">Create New Survey</a></li>
    <li><a href="/survey/list">Survey List</a></li>
    <li><a href="/survey/1">Survey</a></li>
    <img src="static/img/face2.gif"/>
</ul>

{% endblock %}