{% extends 'layouts/base.html' %}
{% set title = 'Survey Groups List' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="container">
    <center>
        <div class="col-lg-4 col-lg-offset-4">
            <div class="page-header">
                <h1>Available Survey Groups</h1>
            </div>

            {% if survey_group_list %}
            <div class="list-group">
                {% for survey_group in survey_group_list %}
                <a class="list-group-item">
                    {{survey_group.name}}
                </a>
                {% endfor %}
            </div>
            {% else %}
            <div class="alert alert-info" role="alert"><strong>You have not created any survey group yet.</strong></div>
            {% endif %}
        </div>
    </center>
</div>

{% endblock %}